<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>PF15 - Album page</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/album_page.css}" />
</head>
<!-- thymeleaf parameters: thumbnailList lista di immagini, showNext boolean, showPrev boolean, isImageShown boolean, shownImage image, comments lista di comment,
	imageId id dell'immagine, showEditButton boolean -->
<body>

	<div class="homeButton">
		<a th:href="@{/Home}">
			<button>Go to homepage</button>
		</a>
	</div>
	<div class="logoutButton">
		<a th:href="@{/Logout}">
			<button>Logout</button>
		</a>
	</div>

	<h1 th:text="'Album view: ' + ${albumTitle}">Album view</h1>

	<h2 th:text="${isImageShown} ? 'Album image' : 'Album'">Album</h2>
	
	<div id="imagesDiv">
		<a id="prevButton" th:if="${showPrev}" th:href="@{/Album(id = ${#request.getParameter('id')},
												page = ${#request.getParameter('page')}-1,
												image = ${#request.getParameter('image')})}">
			<button>Previous page</button>
		</a>
		
		<table id="imagesTable">
			<tbody>
				<tr>
					<td th:each="thumbnail : ${thumbnailList.keySet()}">
						<a th:href="@{/Album(id = ${#request.getParameter('id')},
											page = ${#request.getParameter('page')},
											image = ${thumbnailList.get(thumbnail)})} ">
							<img class="thumbnail" th:src="${thumbnail.getPath}" alt="Album image">
						</a>
						<br><p th:text="${thumbnail.getTitle()}"/>
					</td>
				</tr>
			</tbody>
		</table>
		
		<a id="nextButton" th:if="${showNext}" th:href="@{/Album(id = ${#request.getParameter('id')},
												page = ${#request.getParameter('page')}+1,
												image = ${#request.getParameter('image')})}">
			<button>Next page</button>
		</a>
	</div>
	<br>
	<form method="GET" th:action="@{/AlbumEdit}" th:if="${showEditButton}">
		<input type="hidden" name="id" th:value="${#httpServletRequest.getParameter('id')}">
		<input type="submit" value="Edit album"/>
	</form>
		
	<br>
	
	<div th:if="${isImageShown}">
		<table>
			<thead>
				<tr>
					<td>Image</td>
					<td>Title</td>
					<td>Date</td>
					<td>Description</td>
					<td>Uploader</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<img th:src="${shownImage.getPath()}" alt="Detailed image">
					</td>
					<td th:text="${shownImage.getTitle()}"/>
					<td th:text="${shownImage.getDate()}"/>
					<td th:text="${shownImage.getDescription()}"/>
					<td th:text="${shownImage.getUploader_username()}"/>
				</tr>
			</tbody>
		</table>
		<br>
		<div class="comment" th:each="comment : ${comments}">
			<table>
				<tbody>
					<tr>
						<td class="commentUser" th:text="${comment.getUser()} + ' said:'"></td>
					</tr>
					<tr>
						<td class="commentText" th:text="${comment.getText()}"></td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
		
		<form th:action="@{/CreateComment}" method="POST">
			<input type="hidden" name="albumId" th:value="${#request.getParameter('id')}">
			<input type="hidden" name="imagePosition" th:value="${#request.getParameter('image')}">
			<input type="hidden" name="pageNumber" th:value="${#request.getParameter('page')}">
			<table>
				<tr>
					<td><textarea id="yourComment" name="commentText" placeholder="Your comment goes here..." required></textarea></td>
				</tr>
				<tr>
					<td><input type="submit" value="Comment"></td>
				</tr>
			</table>
		</form>
	</div>

</body>
</html>