<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>PF15 - Home page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="css/album_page.css" th:href="@{/css/album_page.css}" />
</head>
<!-- thymeleaf parameters: thumbnailList lista di immagini, showNext boolean, showPrev boolean, isImageShown boolean, shownImage image, comments lista di comment,
	imageId id dell'immagine, showEditButton boolean -->
<body>

	<form th:action="@{/Logout}" method="POST">
		<input id="logoutButton" type="submit" value="Logout" />
	</form>

	<h1>Album view</h1>

	<h2 th:text="${isImageShown} ? 'Album image' : 'Album'">Album</h2>
	<table border="1">
		<thead>
			<tr>
				<td>place</td>
				<td>holder</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="thumbnail : ${thumbnailList}">
				<td> <img src="/images/animals/Ferret1.jpg" th:src="@{${thumbnail.path}}"> </td>
				<td>  </td>
			</tr>
		</tbody>
	</table>

</body>
</html>