<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>PF15 - Edit an album</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/album_edit.css}" />
</head>

<body>

	<div class="homeButton">
		<a th:href="@{/Home}">
			<button>Go to homepage</button>
		</a>
	</div>
	<div class="logoutButton">
		<a th:href="@{/Logout}">
			<button>Logout</button>
		</a>
	</div>

	<h1>Edit an album</h1>

	<form th:action="@{/EditAlbum}" method="POST">

		<div>
			<label>Album title:</label> 
			<input type="text" th:name="albumTitle" th:value="${albumTitle}" />
		</div>

		<ul>
			<li th:each="image : ${imagesMap.keySet()}">
				<input type="checkbox" name="checkedImages" th:value="${image.id}" th:checked="${imagesMap.get(image)}"/>
				<img th:src="${image.path}" width=500px th:alt="${image.description}" />
			</li>
		</ul>
		<input type="hidden" name="id" th:value="${#request.getParameter('id')}"/>
		<div>
			<input type="submit" value="Submit" />
		</div>
	</form>

</body>
</html>