<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>PF15 - Home page</title>
<link rel="stylesheet" type="text/css" media="all"
	href="css/home_page.css" th:href="@{/css/home_page.css}" />
</head>
<!-- attributi per thymeleaf: userAlbums e othersAlbum che sono List<Album> -->
<body>
	<div class="logoutButton">
		<form th:action="@{/Logout}" method="POST">
			<input type="submit" value="Logout" />
		</form>
	</div>

	<h1>ImageGallery Albums</h1>

	<h2>Your albums</h2>
	<form>
		<input th:action="@{/CreateAlbum}" type="submit" value="Create a new album"/>
	</form>
	<table border="1">
		<thead>
			<tr>
				<td>ID</td>
				<td>Title</td>
				<td>Date</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="album : ${userAlbums}">
				<td> <a th:text="${album.getId()}" th:href="@{/Album(id=${album.getId()})}"></a> </td>
				<td th:text="${album.getTitle()}">title1</td>
				<td th:text="${album.getDate()}">date1</td>
			</tr>
		</tbody>
	</table>
	<h2>Other users' albums</h2>
	<table border="1">
		<thead>
			<tr>
				<td>ID</td>
				<td>Creator</td>
				<td>Title</td>
				<td>Date</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="album : ${othersAlbums}">
				<td> <a th:text="${album.getId()}" th:href="@{/Album(id=${album.getId()})}">id2</a></td>
				<td th:text="${album.getCreator_username()}">creator2</td>
				<td th:text="${album.getTitle()}">title2</td>
				<td th:text="${album.getDate()}">date2</td>
			</tr>
		</tbody>
	</table>

</body>
</html>