<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Log in/sign up</title>
<link rel="stylesheet" type="text/css" media="all" href="css/mystyle.css" th:href="@{/css/login_page.css}" />
</head>

<body>
<h1>Welcome to the PoliMi image gallery.<br>
Sign up or sign in.</h1>

<form th:action="@{/ConnectionTester}" method="POST">

    <div>
        <label>Album title:</label>
        <input type="checkbox" th:field="${albumTitle}" />
    </div>

    <ul>
        <li th:each="image : ${imagesMap}"> <!-- for each element image = {String path, boolean present} in allImages -->
            <input type="checkbox"  th:checked="${image.present}"/>
            <input type="image" th:for="${#ids.prev('image.path')}" src="" />
        </li>
    </ul>
	
	<div>
    	<input type="submit" value="Submit"/>
    </div>
</form>

</body>
</html>