@charset "ISO-8859-1";

.homeButton {
	position: absolute;
	top: 10px;
	right: 70px;
}

.logoutButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

table td, thead {
	border: 1px solid grey;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}

table thead {
	padding: 10px;
	background-color: #707070;
	color: white;
}

.thumbnail {
	width: 200px;
	height: auto;
}

.commentUser {
	font-size: 16px;
	font-weight: bold;
}

.commentText {
	font-size: 14px;
}

#yourComment {
	width: 500px;
	height: 100px;
}


#imagesDiv {
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	align-items: center
}
